@import "tailwindcss";

@theme {
  --color-primary: #1c58b3;
  --color-primary-dark: #154a8a;
  --color-accent: #ff6f51;
  --color-good: #23782e;
  --color-warn: #b72020;
  --color-background: #111827;
}

body {
  font-family: 'Roboto Light', sans-serif;
  background: linear-gradient(
          90deg,
          #111827 0%,
          #1a2235 50%,
          #26314c 100%
  );
  color: #f3f4f6;
}